@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    /* Color */
    --primary-color: #fe2c55;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #9e9e9e7e;
    --svg-color: #161823;
    --tooltip-color: #0e0e0eb3;
    --box-shadow-color: #00000023;
    --item-hover-color: #f5f5f5;
    --user-checked-bg-color: #20D5EC;
    --scrollbar-thumb-color: #D9D9D9;
    --btn-color: #FE2C55;
    --btn-hover-color: #ec2a51;
    --actions-item-color: #f1f1f2;
    --actions-item-hover-color: #dfdfdf;
    --mailbox-desc-color: #C5C5C8;

    --primary-width: 1060px;
}

* {
    box-sizing: inherit;
}

html {
    font-family: 'IBM Plex Sans', sans-serif;
    box-sizing: border-box;
    /* 10px = 1rem */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.grid {
    width: var(--primary-width);
    max-width: calc(100% - 20px);
    margin: 0 auto;
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.grid-column-1 {
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
}

/* Tooltip */
[tooltip] {
    position: absolute;
}

[tooltip]:hover::before {
    display: block;
    animation: tooltip .2s ease forwards;
    z-index: 99;
}

[tooltip]:hover::after {
    animation: arrowTooltip .2s ease forwards;
}

[tooltip]::before {
    display: none;
    content: attr(data-tooltip);
    background-color: var(--tooltip-color);
    color: var(--white-color);
    white-space: nowrap;
    position: absolute;
    opacity: 0;
    font-size: 1.6rem;
    padding: 10px 6px;
    border-radius: 8px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 30px;
}

[tooltip]::after {
    content: "";
    position: absolute;
    border-width: 10px 8px;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    border-style: solid;
    border-color: transparent;
    border-bottom-color: var(--tooltip-color);
}

@keyframes tooltip {
    from {
        opacity: 0;
        top: calc(100% - 6px);
    }
    to {
        opacity: 1;
        top: calc(100% + 12px);
    }
}

@keyframes arrowTooltip {
    from {
        opacity: 0;
        top: 0;
    }
    to {
        opacity: 1;
        top: calc(100% - 8px);
    }
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 32px;
}

/* Button */
.btn {
    outline: none;
    background-color: transparent;
    border: 1px solid var(--border-color);
    color: var(--black-color);
    white-space: nowrap;
    padding: 8px 20px;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 6px;
}

.btn.btn-border-color {
    border: 1px solid var(--btn-color);
}

.btn.btn--bg-color-fill {
    background-color: var(--btn-color);
    color: var(--white-color);
}

.btn:hover.btn--hover-color {
    cursor: pointer;
    background-color: var(--btn-hover-color);
}

/* User Hover Details */

.user-details {
    position: absolute;
    display: none;
    cursor: default;
    animation: fadeIn .2s ease;
    background-color: var(--white-color);
    box-shadow: 0 0 4px var(--box-shadow-color);
    top: calc(100% + 4px);
    left: 6px;
    right: 4px;
    z-index: 1;
    padding: 16px;
    border-radius: 8px;
}

.user-details::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    right: 0;
    height: 12px;
    background-color: transparent;
}

.user-details-decoration {
    margin-top: 16px;
    border-bottom: 1px solid var(--border-color);
}

.user-details-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-details-img {
    width: 44px;
    height: 44px;
    border-radius: 32px;
}

.user-details-follow:hover {
    background-color: var(--btn-hover-color);
    cursor: pointer;
}

.user-details-container {
    font-size: 1.6rem;
    margin-top: 10px;
}

.user-details-user,
.user-details-username {
    margin: 0;
}

.user-details-username {
    margin-top: 2px;
    font-size: 1.4rem;
    font-weight: 400;
}

.user-details-interact {
    display: flex;
    margin-top: 10px;
    font-size: 1.8rem;
}

.user-details-counts {
    margin-right: 10px;
}

.user-details-counts > span {
    margin-left: 4px;
}

.user-details-description {
    margin-top: 16px;
}

/* Tag link */
.tag-link {
    color: var(--black-color);
    text-decoration: none;
    font-weight: 600;
}

.tag-link:hover {
    text-decoration: underline;
}

.tag-link::before {
    content: "#";
}