.wrapper-checked-icon {
    display: none;
    color: var(--white-color);
    background-color: var(--user-checked-bg-color);
    border-radius: 12px;
    width: 14px;
    height: 14px;
    padding: 1px;
    font-size: 0.6rem;
}

.checked 
.wrapper-checked-icon {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.header {
    border-bottom: 1px solid var(--border-color);
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 6px 0;
    z-index: 9999;
}

.header-wrappper {
    display: flex;
    justify-content: space-between;
}

.header-brand {
    display: inline-block;
    width: 118px;
}

.header-brand__img {
    width: 100%;
}

.header-search {
    position: relative;
    display: flex;
}

.header-search__input,
.header-search__submit {
    background-color: #F1F1F2;
    outline: none;
    border: none;
}

.header-search__input {
    overflow: hidden;
    caret-color: #fe2c55;
    border-radius: 32px;
    width: 360px;
    height: 46px;
    padding: 0 55px 0 16px;
    font-size: 1.6rem;
}

.header-search__input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    content: url('../img/icon/delete-search.svg');
    cursor: pointer;
    padding: 0 6px;
}

.header-search__input:focus {
    border: 1px solid var(--border-color);
}

.header-search__submit {
    position: relative;
    width: 54px;
    margin: 1px 0;
    margin-left: -55px;
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
}

.header-search__submit-btn {
    width: calc(100% - 2px);
    padding: 8px;
}

.header-search__submit::before {
    content: "";
    position: absolute;
    border-left: 1px solid var(--border-color);
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    height: calc(100% - 18px);
}

.header-search__submit:hover {
    cursor: pointer;
    background-color: #ebebeb;
}

.header-search__results {
    display: none;
    position: absolute;
    list-style: none;
    overflow: hidden;
    background-color: var(--white-color);
    box-shadow: 0 0 10px var(--box-shadow-color);
    border-radius: 8px;
    padding: 0;
    margin: 0;
    padding-top: 8px;
    top: calc(100% + 8px);
    right: 0;
    left: 0;
}

.header-search__input:focus ~ 
.header-search__results {
    display: block;
}

.header-search__results-item,
.header-search__results-more {
    font-size: 1.8rem;
    padding: 12px 16px;
}

.header-search__results-more {
    font-weight: 600;
    padding: 16px;
}

.header-search__results-item:hover,
.header-search__results-more:hover {
    cursor: pointer;
    background-color: var(--item-hover-color);
}

.header-search__results-user,
.header-search__results-username {
    margin: 0;
}

.header-search__results-user {
    display: flex;
    align-items: center;
}

.header-search__results-user > span {
    margin-right: 8px;
}

.header-search__results-username {
    font-size: 1.4rem;
    margin-top: 6px;
    opacity: 0.4;
    font-weight: 500;
}

.header-user {
    display: flex;
    align-items: center;
}

.header-user__item {
    position: relative;
    cursor: pointer;
    margin-right: 16px;
    width: 32px;
    height: 32px;
}

.header-user__item-btn {
    fill: var(--svg-color);
    width: 100%;
    height: 100%;
}

.header-user__item-mailbox {
    display: none;
    cursor: default;
    position: absolute;
    box-shadow: 0 0 20px var(--box-shadow-color);
    background-color: var(--white-color);
    top: calc(100% + 16px);
    right: -58px;
    width: 400px;
    border-radius: 8px;
    padding: 26px 0;
}

.header-user__item-mailbox.open {
    display: block;
}

.header-user__item-mailbox::after {
    content: "";
    position: absolute;
    top: -24px;
    right: 62px;
    border-width: 12px 14px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: var(--white-color);
}

.header-user__item-mailbox-heading,
.header-user__item-mailbox-type-list,
.header-user__item-mailbox-this-heading {
    margin: 0 16px;
}

.header-user__item-mailbox-heading {
    margin: 0 16px;
    font-size: 2.4rem;
}

.header-user__item-mailbox-header {
    margin-top: 16px;
}

.header-user__item-mailbox-type-list {
    list-style: none;
    padding-left: 0;
}

.header-user__item-mailbox-type {
    cursor: pointer;
    display: inline-block;
    background-color: #f1f1f1;
    font-weight: 500;
    font-size: 1.6rem;
    padding: 2px 8px;
    border-radius: 32px;
    margin-right: 4px;
    margin-bottom: 8px;
}

.header-user__item-mailbox-type.active {
    background-color: var(--black-color);
    color: var(--white-color);
}

.header-user__item-mailbox-type:hover:not(.active) {
    background-color: #d4d4d4;
}

.header-user__item-mailbox-body {
    margin-top: 16px;
}

.header-user__item-mailbox-body-section {
    margin-top: 16px;
}

.header-user__item-mailbox-this-heading {
    font-size: 1.8rem;
    opacity: 0.6;
}

.header-user__item-mailbox-notify {
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
}

.header-user__item-mailbox-notify-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #C5C5C8;
    padding: 12px 16px;
}

.header-user__item-mailbox-notify-item:hover {
    background-color: #f8f8f8;
}

/* Gom avatar vơi thông tin về bên trái thumbnail là phần còn lại */
.header-user__item-mailbox-notify-user-wrapper {
    display: flex;
    align-items: flex-start;
}

.header-user__item-mailbox-notify-img {
    width: 48px;
    border-radius: 32px;
}

.header-user__item-mailbox-notify-user {
    max-width: 240px;
    margin-left: 16px;
    font-size: 1.4rem;
}

.header-user__item-mailbox-notify-username,
.header-user__item-mailbox-notify-reaction,
.header-user__item-mailbox-notify-your-cmt,
.header-user__item-mailbox-notify-reply {
    margin: 0;
    font-size: 1.5rem;
}

.header-user__item-mailbox-notify-username {
    font-size: 1.6rem;
    color: var(--black-color);
}

.header-user__item-mailbox-notify-username:hover {
    text-decoration: underline;
}

.header-user__item-mailbox-notify-reaction {
    margin-top: 8px;
}

.header-user__item-mailbox-notify-reply {
    color: var(--black-color);
    margin-top: 8px;
}

.header-user__item-mailbox-notify-your-cmt {
    margin-top: 8px;
    border-left: 2px solid var(--border-color);
    padding: 0 4px;
}

.header-user__item-mailbox-notify-video-thumbnail {
    object-fit: cover;
    width: 42px;
    border-radius: 3px;
    height: 58px;
}

.header-user__item-mailbox-notify-follow-back:hover {
    background-color: var(--btn-hover-color);
    cursor: pointer;
}

.header-user__account {
    position: relative;
    margin-left: 8px;
    width: 32px;
    height: 32px;
}

.header-user__account:hover 
.header-user__account-list {
    display: block;
}

.header-user__account-avatar {
    cursor: pointer;
    border-radius: 32px;
    width: 100%;
    height: 100%;
}

.header-user__account-list {
    display: none;
}

.header-user__account-list,
.header-user__account-languages {
    position: absolute;
    list-style: none;
    animation: fadeIn .2s ease;
    box-shadow: 0 0 10px var(--box-shadow-color);
    background-color: var(--white-color);
    top: calc(100% + 4px);
    padding-left: 0;
    padding: 8px 0;
    right: -12px;
    width: 220px;
    border-radius: 8px;
}

.header-user__account-list::after,
.header-user__account-languages::after {
    content: "";
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    top: -14px;
    right: 12px;
    height: 18px;
    width: 32px;
}

.header-user__account-list::before,
.header-user__account-languages::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: var(--white-color);
    border-width: 10px;
    top: -20px;
    right: 18px;
}

.header-user__account-item > * {
    display: flex;
    align-items: center;
    text-decoration: none;
    will-change: background-color;
    transition: background-color .2s ease .05s;
    color: var(--black-color);
    padding: 12px 16px;
    font-size: 1.6rem;
}

.header-user__account-item > *:hover,
.header-user__account-languages-item:hover {
    cursor: pointer;
    background-color: var(--item-hover-color);
}

.header-user__account-item-decoration {
    width: 100%;
    height: 1px;
    background-color: var(--border-color);
    margin: 8px 0;
}

.header-user__account-item span {
    flex: 1;
    margin-left: 12px;
}

.header-user__account-languages {
    display: none;
    padding: 0;
    top: calc(100% + 14px);
    height: calc(100vh - 59px)
}

.header-user__account-languages.open {
    display: block;
}

.header-user__account-languages-head {
    display: flex;
    align-items: center;
    padding: 18px 16px;
    font-size: 1.5rem;
}

.header-user__account-languages-back {
    font-size: 1.6rem;
}

.header-user__account-languages-back:hover {
    cursor: pointer;
    opacity: 0.6;
}

.header-user__account-languages-heading {
    margin: 0 auto;
}

.header-user__account-languages-list {
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.6rem;
}

.header-user__account-languages-item {
    padding: 10px 16px;
}

.sidebar {
    --header--height: 59px;
    margin-top: var(--header--height);
    overflow-y: scroll;
    max-height: calc(100vh - var(--header--height));
    width: 340px;
    padding-left: 8px;
    padding-right: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.sidebar:hover::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
}

.sidebar-header {
    padding: 12px 0;
    border-bottom: 1px solid var(--border-color);
}

.sidebar-header__item {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: background-color .2s ease .02s;
    color: var(--black-color);
    border-radius: 8px;
    padding: 8px 3px;
    font-size: 1.8rem;
}

.sidebar-header__item:hover {
    background-color: var(--item-hover-color);
}

.sidebar-header__item > svg {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.sidebar-header__item-icon-actived {
    display: none;
}

.sidebar-header__item.active 
.sidebar-header__item-icon-actived {
    display: block;
    fill: var(--primary-color);
}

.sidebar-header__item.active 
.sidebar-header__item-icon-not-active {
    display: none;
}

.sidebar-header__item > span {
    font-weight: 600;
}

.sidebar-header__item.active > span {
    color: var(--primary-color);
}

.sidebar-body-item {
    border-bottom: 1px solid var(--border-color);
    padding: 16px 0 8px;
}

.sidebar-body-heading,
.sidebar-body-users__information-user,
.sidebar-body-users__information-username {
    margin: 0;
}

.sidebar-body-heading {
    opacity: 0.6;
    font-size: 1.4rem;
}

.sidebar-body-users {
    list-style: none;
    margin: 0;
    padding: 8px 0;
}

.sidebar-body-users-item {
    position: relative;
    border-radius: 8px;
}

.sidebar-body-users-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    will-change: background-color;
    transition: background-color .2s ease .02s;
    color: var(--black-color);
    font-size: 1.6rem;
    padding: 10px 6px;
    border-radius: 3px;
}

.sidebar-body-users-item:hover {
    background-color: var(--item-hover-color);
}

.sidebar-body-users__img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.sidebar-body-users__img.streaming {
    padding: 1px;
    border: 1.8px solid var(--primary-color);
}

.sidebar-body-users__information {
    margin: -4px 0 0 8px;
}

.sidebar-body-users__information-user {
    display: flex;
    align-items: center;
}

.sidebar-body-users__information-user > span {
    margin-right: 6px;
}

.sidebar-body-users__information-username {
    font-size: 1.2rem;
    margin-top: 4px;
    opacity: 0.8;
}

.sidebar-body-users-view-more {
    color: var(--primary-color);
    margin-top: 8px;
    font-weight: 600;
    font-size: 1.4rem;
}

.sidebar-body-users-view-more:hover {
    cursor: pointer;
    opacity: 0.8;
}

.sidebar-body-users-item:hover 
.user-details {
    display: block;
}

.sidebar-body-discover {
    list-style: none;
    padding-left: 0;
}

.sidebar-body-discover-item {
    display: inline-block;
    margin: 0 8px 8px 0;
}

.sidebar-body-discover-item  > a {
    display: flex;
    text-decoration: none;
    border: 1px solid var(--border-color);
    background-color: var(--white-color);
    color: var(--black-color);
    min-width: 30px;
    padding: 3px 10px;
    border-radius: 32px;
}

.sidebar-body-discover-tag {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.sidebar-body-discover-tag > svg {
    width: 100%;
    height: 100%;
}

.sidebar-body-discover-text {
    opacity: 0.6;
    margin: 0;
    font-size: 1.4rem;
}

.sidebar-footer {
    margin-top: 16px;
}

.sidebar-footer-ancor {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.sidebar-footer-ancor-item {
    display: inline-block;
    margin: 0 8px 8px 0;
}

.sidebar-footer-ancor-link {
    text-decoration: none;
    color: var(--black-color);
    opacity: 0.6;
    font-size: 1.2rem;
}

.sidebar-footer-ancor-link:hover {
    text-decoration: underline;
}

.sidebar-footer-copyright {
    margin: 8px 0 32px;
    font-size: 1.2rem;
    opacity: 0.6;
}

.main {
    overflow-y: scroll;
    height: calc(100vh - 59px);
    margin-top: 59px;
    padding: 24px 8px;
    width: 692px;
}

.main::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.main:hover::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
}

.main-video {
    padding: 16px 0;
}

.video__header {
    position: relative;
    display: flex;
    align-items: flex-start;
}

.video__header-user {
    display: flex;
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.6rem
}

.video__header-user:hover 
.video__header-userid {
    text-decoration: underline;
}

.video__header-userid {
    font-size: 1.8rem;
    margin-right: 8px;
    font-weight: 600;
}

.video__header-username {
    opacity: 0.8;
    font-size: 1.4rem;
    margin-top: 2px;
}

.video__header-user-wrapper {
    display: flex;
    align-items: flex-start;
}

.video__header-img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-right: 10px;
}

.video__header-btn {
    margin-left: auto;
}

.video__header-position {
    position: absolute;
    top: 24px;
    left: 66px;
    max-width: 420px;
    min-height: 32px;
}

.video__header-caption {
    margin: 0;
    font-size: 1.6rem;
}

.video__header-music-theme {
    display: inline-block;
    text-decoration: none;
    color: var(--black-color);
    font-weight: 600;
    font-size: 16px;
    padding: 0 2px;
    margin-top: 10px;
}

.video__header-music-theme:hover > span {
    text-decoration: underline;
}

.video__body {

}

.video__body-player {

}

.video__body-actions {

}

.video__body-actions-item {

}

.video__body-actions-like {

}

.video__body-actions-item {

}

.video__body-actions-item {

}