.tiktok-player {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    cursor: pointer;
    width: calc(0.56 * (450px + ((100vw - 768px) / 1152) * 100));
}

.tiktok-player__source {
    outline: none;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 8px;
}

.tiktok-player__source::-webkit-media-controls {
    display: none;
}

.tiktok-player__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
    font-size: 1.8rem;
    z-index: 1;
}

.tiktok-player__controls-play-btn {
    transition: opacity .2s ease .1s;
    opacity: 0;
}

.tiktok-player__controls-play-btn>svg {
    width: 22px;
    height: 22px;
    fill: var(--white-color);
}

.tiktok-player:hover .tiktok-player__controls-play-btn {
    opacity: 1;
}

.tiktok-player__controls-mute-btn>svg {
    width: 24px;
    height: 24px;
    fill: var(--white-color);
}