/* Desktop */
@media (min-width: 1024px) {

}

/* Tablet & mobile */
@media (max-width: 1023px) {
    .tiktok-player__controls-play-btn {
        opacity: 1;
    }
    
    .sidebar {
        flex: unset;
        border-right: 1px solid var(--border-color);
    }

    .sidebar-header__item {
        padding: 6px;
        margin-left: 1px;
    }

    .sidebar-header__item > svg {
        margin: 0;
    }

    .sidebar-body-item {
        padding: 0;
    }

    .sidebar-body-following {
        border-bottom: none;
    }

    .sidebar-body-users-link {
        padding: 6px;
    }

    .sidebar-body-heading,
    .sidebar-body-discover,
    .sidebar-header__item > span,
    .sidebar-body-users__information,
    .sidebar-body-users-view-more,
    .sidebar-footer {
        display: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}

/* Mobile */ 
@media (max-width: 739px) {
    .header-search {
        display: none;
    }

    .header-user__account-languages {
        min-height: 50vh;
        max-height: 80vh;
    }

    .video__header {
        flex-wrap: wrap;
    }

    .video__body-actions {
        margin-right: 18px;
    }

    .video__header-username {
        display: none;
    }

    .video__header-caption,
    .video__header-music-theme {
        display: block;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        max-height: 4rem;
        line-height: 2rem;
        -webkit-line-clamp: 2;
    }

    .video__header-btn {
        margin: 8px 0 0 67px;
    }
    
    .video__body {
        justify-content: flex-start;
        margin-left: 67px;
    }
    
    .footer {
        display: none;
    }
}

@media (max-width: 479px) {
    .tiktok-player {
        width: calc(0.56 * ((100vw - 32px) - 44px));
    }

    .tiktok-player__controls-play-btn > svg {
        width: 14px;
        height: 14px;
    }

    .tiktok-player__controls-mute-btn > svg {
        width: 16px;
        height: 16px;
    }

    .video__header-user-wrapper {
        align-items: center;
    }

    .video__header-bottom,
    .video__header-btn {
        margin: 8px 0 0 0;
    }

    .video__body {
        justify-content: flex-start;
        margin-left: 0;
    }

}
